.test {
    margin-top: -100px;
}

table {
    width: 60%; 
    margin: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

td.label {
    width: 30%; 
    font-weight: bold; 
    color: #333; 
}

td.data {
    width: 70%; 
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

p {
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}


